html {
      cursor: url(./img/icons8-cursor-32.png), default;

}
body {
    background-color: rgb(43, 43, 43);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    max-width: 720px;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;    
}

.titolo {
  font-size: min(13px, 3vh);
  text-align: center;
  margin: 0;
  color: rgb(186, 186, 186);
}


.sottotitolo {
  margin: 6px;
  font-size: 12px;
  color: rgb(156, 156, 156);
  text-align: center;
}

.sottotitolo2 {
  margin: 6px;
  font-size: 8px;
  color: rgb(156, 156, 156);
  text-align: center;
}


.titolo:hover {
  -webkit-transition: color 1s;
  transition: color 1s;
  color: red;
}

.sottotitolo:hover {
  -webkit-transition: color 1s;
  transition: color 1s;
  color: yellow;
}

.sottotitolo2:hover {
  -webkit-transition: color 1s;
  transition: color 0.5s;
  color: rgb(0, 255, 0);
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: red;
  transition: 0.3s;
}


/* INIZIO TABELLA */
.tabella {
    width: 100%;
    text-align: left;
    
}




/* INIZIO PARTE SINISTRA */

.sinistra {
    background-color: rgb(79, 79, 79);
    color: white;
    width: 38%;
    text-justify: auto;
    vertical-align: top;
    
}

.boxfoto {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: xx-small;
    
}

.foto {
    width: 100%;
    border-radius: 47%;
    min-height: 120px;
    transition: 2s;
}

.boxtitolo {
  letter-spacing: 1px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: min(12px, 1.4vw);
  font-weight: bold;
}

  
.boxpercentuale {
  padding-left: 15px;
  padding-right: 10px;
}

.boxcompetenze {
  width: 100%;
  font-size: min(9px, 2vw);
}

.boxcompetenze:hover {
  color: rgb(255, 255, 0);
}


/* INIZIO PERCENTUALI */

.percentuale {
  background-color: rgb(160, 88, 88) ;
  border: 1px solid black;
  width: 30px;
}

.percentuale100 {
    margin-right: 6%;
    border: 1px solid white;
}
.percentuale80 {
    margin-right: 20%;
    border: 1px solid white;
}
.percentuale60 {
  margin-right: 40%;
  border: 1px solid white;
}
.percentuale50 {
  margin-right: 50%;
  border: 1px solid white;
}
.percentuale40 {
  margin-right: 60%;
  border: 1px solid white;
}
.percentuale20 {
  margin-right: 80%;
  border: 1px solid white;
}
.percentuale0 {
  margin-right: 99%;
  border: 1px solid white;
}

.percentualedx {
  background-color: lightgray;
  border: 1px solid gray;
  width: 80%;
}

.percentualedx100 {
  margin-right: 6%;
  border: 1px solid darkslategray;
}
.percentualedx80 {
  margin-right: 20%;
  border: 1px solid darkslategray;
}
.percentualedx60 {
margin-right: 40%;
border: 1px solid darkslategray;
}
.percentualedx50 {
margin-right: 50%;
border: 1px solid darkslategray;
}
.percentualedx40 {
margin-right: 60%;
border: 1px solid darkslategray;
}
.percentualedx20 {
margin-right: 80%;
border: 1px solid darkslategray;
}
.percentualedx0 {
margin-right: 99%;
border: 1px solid darkslategray;
}

/* FINE PERCENTUALI */




/* FINE PARTE SINISTRA */







/* INIZIO PARTE DESTRA */

.destra {
    background-color: white;
    color: rgb(54, 54, 54);
    vertical-align: top;
    font-size: min(12px, 2vw);
    margin-right: 10px;
    margin-left: 10px;
    text-justify: inter-word;
    transition: 4s;
}

.nomecognome {
  font-size: min(30px, 4vw);
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon {
  width: min(50px, 6vw);
}

.lavoro {
  text-align: center;
}

.jobsubtitle {
  font-size: min(12px, 2vw);
}

.job {
  margin: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  font-size: min(20px, 2vw);
  font-weight: bold;
}

.intro {
  margin-bottom: 10px;
  color: rgb(171, 171, 171);
  font-family: monospace ;
  
}

.intestazione {
  color: rgb(204, 0, 0);
  font-size: min(13px, 2vw);
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.posizione {
  margin-top: 15px;
  font-weight: bold;
  font-size: min(12px, 2vw);

}

.azienda {
  color: rgb(167, 167, 167);
  font-size: min(12px, 1.6vw);
  font-weight: 580;
}

.testo {
  font-size: min(12px, 1.6vw);
}

/* FINE PARTE DESTRA */


.art13 {
  font-size: min(8px, 1vw);
  position: fixed;
  bottom: 10px;
}


/* FINE TABELLA */

/*
table, td, tr, .boxfoto {
  border: 1px red solid;
}
*/
